/* About.module.css */

.section {
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 10rem;
}

.ourPartner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.ourPartner h3 {
  text-align: left;
  font-size: 3.8rem;
  font-weight: 100;
  /* line-height: 5.8rem; */
}

.ourPartner p {
  text-align: left;
  font-size: 2.5rem;
  line-height: 35.79px;
  margin: 0.5rem 0;
  font-family: var(--font-montserrat);
  font-weight: 100;
  padding-left: 2rem;
}