/* About.module.css */

.section {
  /* background-image: url('../img/banner.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: rem 2rem; Adjust padding as needed */
  color: white;
  /* Adjust text color for better contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
  /* Adjust padding as needed */
}

.ourPartner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 2rem; */
  gap: 2rem;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.ourPartner h3 {

  /* align-items; */
  text-align: left;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 58.09px;
  margin-bottom: 15px;
}

.ourPartner p {
  text-align: left;
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 35.79px;
  margin: 0;
}