.ourproducts {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0rem;
    width: 100%;
    height: fit-content;
    background-color: white;
    color: black;
}

.productsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 5rem 0rem; */
    /* justify-content: space-around; */
    margin-top: 2rem;

    /* outline: auto; */

}

.sectionHeading {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
}
.mainHeading {
    font-size: 4.8rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.product-details {

    display: flex;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    margin:2rem auto;
    position: relative;

}

.productimg {
    width: 230px;
    height: 230px;
    object-fit: cover;
    /* margin-bottom: 1rem; */
    margin: 0px auto;
    cursor: pointer;
    background-color: antiquewhite;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.productName {
    color: #000;
    font-size: 1.7rem;
    padding: 1.3rem 0;
    /* font-weight: 300; */
    font-weight: 400;
    font-family: var(--font-montserrat);
}

.btn {
    width: 180px;
    margin: 0 auto 0.45rem auto;
    padding: 0.5rem 0rem;
    background-color: transparent;
    border: 0.1rem solid #000;
    color: #000;
    cursor: pointer;
    font-weight: 100;
}

.btn2 {
    width: 180px;
    margin: 0.45rem auto;
    padding: 0.7rem 0rem;
    background-color: #586347;
    color: white;
    font-family: var(--font-montserrat);
    border: 0;
}

.Explorebtn,
.Explorebtn span {
    font-size: 2rem;
    font-weight: 100;
    width: fit-content !important;
    padding: 1rem 2.5rem !important;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 4rem;
    border: black solid 0.2rem;
    color: #000;
}

.Explorebtn .span {
    font-size: 4rem;
    font-weight: normal!important;
    width: fit-content !important;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    scale: 1.7;
}

@media (max-width: 767px) {
    .ourproducts {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .productsContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-details {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .productimg {
        width: 50%;
        height: 120px;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .productImage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
    }

    .btn {
        width: 65%;
        margin: 0.45rem auto;
        padding: 0.5rem 0rem;
        background-color: transparent;
        border: 0.1rem solid#586347;
        color: #586347;
        cursor: pointer;
    }

    .btn2 {
        width: 65%;
        margin: 0.45rem auto;
        padding: 0.7rem 0rem;
        background-color: #586347;
        color: white;
        border: 0;
    }
}