


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}


  @media (max-width: 768px) {
    html{
    font-size: 42.5%;
    font-family: 'Nelphim', sans-serif;    }
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after  {
    color: #ccc !important;
    }
    .swiper-pagination-bullet{
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: white !important;;
  }