
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
h1,h2,h3,h4{
  font-family: 'Nelphim';
}
h5,h6 ,p ,a{
  font-family: "Montserrat", sans-serif !important;
}

  @media (max-width: 768px) {
    html{
    font-size: 42.5%;
    font-family: 'Nelphim', sans-serif;    }
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after  {
    color: #ccc !important;
    }
    .swiper-pagination-bullet{
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: white !important;;
  }